*.log
*.aux
*.snm
*synctex.gz
*.out
*.nav
*.toc
*.vrb
*.pyc
*.bbl
*.blg
*.lof
*.lot
*.toc

*/*.log
*/*.aux
*/*.snm
*/*synctex.gz
*/*.out
*/*.nav
*/*.toc
*/*.vrb
*/*.pyc
*/*.bbl
*/*.blg
*/*.lof
*/*.lot
*/*.toc
latex/research_proposal_EMBL.idx
